.root{
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
}
.handle-button{
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #795548;
    -fx-text-fill: WHITE;
}
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #4CAF50;
    -fx-pref-width: 150;
    -fx-text-fill: WHITE;
}
.button-raised:hover{
    -fx-background-color: rgb(0,0,204);
}
.radio-power{
    -fx-border-radius: 15px;
}
.radio-power .dot {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 5px;
}
.radio-power .radio {
    -fx-padding: 5px;
}
.radio-button .radio{
    -fx-font-size:20;
    -fx-padding: 4px;
    -fx-border-radius: 15px;
    -fx-border-color:#B3B98F;
    -fx-background-color:white;
}
.radio-button:hover > .radio{
    -fx-border-color:#3C92E7;
}
.radio-button:focused > .radio{
    -fx-border-color:#2671CE;
}
.radio-button:armed > .radio{
    -fx-border-color:#2970CC;
}
.radio-button:selected .radio .dot{
    -fx-background-insets:0;
    -fx-background-color:#2671CE;
}
.radio-button:selected .radio:hover .dot{
    -fx-background-color:#3C92E7;
}
.radio-button:selected .radio .dot:pressed{
    -fx-background-color:#2970CC;
}
.radio-button:selected .radio:focused .dot{
    -fx-background-color:#2272D1;
}
.radio-button:disabled{
    -fx-opacity : 0.6;
}
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #5D646A;
    -fx-background-color: #ffffff;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
    -fx-background-insets: 0;
}
.radio-button .dot {
    -fx-padding: 6px;
    -fx-mark-color: #2571CB ;
}
.table-view{
    -fx-border-color:#868E95;
    -fx-border-width:1;
    -fx-border-radius:2;
    -fx-font-family: "Roboto";
}

.table-view:focused{
    -fx-background-color: transparent,-fx-box-border,-fx-control-inner-background;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color:#B3B9BF;
    -fx-border-width:0 1 0 0;
    -fx-border-style: segments(0, 2, 50, 15);
}

.table-view .column-header-background{
    -fx-background-color: white;
    -fx-border-width:0 0 1 0;
    -fx-border-style:solid;
    -fx-border-color:#B3B9BF;
    -fx-padding: 3 0 3 10;
}

.table-view .column-header:last-visible {
    -fx-border-color:transparent;
}

.table-view .filler{
    -fx-opacity:0;
}

.table-view .table-row-cell {
    -fx-cell-size: 29px;
}
.table-view .table-row-cell .text{
    -fx-fill:#25292e;
}
.table-view .table-column{
    -fx-border-color:transparent;
    -fx-alignment:center_left;
    -fx-padding: 0 0 0 15;
}

.table-view .table-column .label{
    -fx-text-fill: #61718B;
    -fx-font-weight:bold;
    -fx-font-size:14px;
    -fx-alignment:center_left;
}

.table-view .table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #EFF3F7;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #4089DF;
}

.table-view .table-row-cell:selected .text {
    -fx-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-padding:-12;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    visibility: hidden;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb,
.table-view > .virtual-flow > .scroll-bar:horizontal > .thumb
{
    visibility: true;
    -fx-background-color:#B3B9BF;
    -fx-background-radius: 15;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
/* ComboBox */
.combo-box{
    -fx-background-color:#ffffff;
    -fx-background-insets: 0;
    -fx-border-color: #B3B9BF;
    -fx-border-radius: 2px;
    -fx-padding: -3,0,-3,0;
    -fx-font-family: "Roboto";
    -fx-font-size : 14;
}
.combo-box > .arrow-button{
    -fx-background-image:url("images/icons/combobox_down.png");
    -fx-background-position:center;
    -fx-background-repeat: no-repeat no-repeat;
}
.combo-box:hover{
    -fx-border-color:#2196F3;
}
.combo-box:focused{
    -fx-border-color:#2196F3;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);

}
.combo-box .list-view{
    -fx-border-color:#2196F3;
    -fx-effect: dropshadow(three-pass-box, rgba(65,137,221,0.8), 4, 0, 0, 0);
}
.combo-box .list-view .list-cell:odd{
    -fx-background-color:#EFF2F7;
}
.combo-box .scroll-bar{
    -fx-background-color:transparent;
}
.combo-box > .arrow-button > .arrow{
    -fx-background-color: transparent;
}
.combo-box .list-view .list-cell{
    -fx-background-insets:0;
    -fx-background-color:white;
}
.combo-box .list-view .list-cell:hover{
    -fx-background-color: #2196F3;
    -fx-focus-color: #2196F3;
}
.combo-box .list-view .list-cell:focused,
.combo-box .list-view .list-cell:armed{
    -fx-background-color: #2196F3;
    -fx-border-color: #2196F3;
    -fx-background-insets:0;
}
.combo-box .scroll-bar:vertical .thumb{
    -fx-background-color: #B2B7BB;
    -fx-background-insets: 2.5;
}
.combo-box .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.combo-box .scroll-bar:vertical .decrement-arrow{
    -fx-background-color:transparent;
}
.combo-box .scroll-bar:vertical .increment-arrow{
    -fx-background-color:transparent;
}
.combo-box:disabled{
    -fx-opacity : 0.6;
}